body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #3D3D3D;
    background-color: #FFF9FB;
    margin: 0;
    padding: 0;
}


header {
    text-align: center;
    padding: 40px 20px;
}


h1 {
    color: #8C5B8C;
}


.intro {
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    line-height: 1.8;
}


.intro span {
    display: block;
}


main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}


section {
    background-color: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 15px;
}


h2 {
    color: #8C5B8C;
}


h3 {
    color: #A86FA8;
}


a {
    color: #8C5B8C;
    font-weight: bold;
}


footer {
    text-align: center;
    padding: 30px;
    font-size: 14px;
}
header {
    background: yellow !important;
}
